/medialib/__pycache__
/medialib/build
/medialib/dist
/medialib/medialib.egg-info
/test/__pycache__
/test/db/__pycache__
/test/db/models/__pycache__
/test/db/repository/__pycache__
/test/apis/__pycache__
/test/apis/version1/__pycache__
/test/core/__pycache__
/test/utils/__pycache__
/test/test_audio_data
/test/test_audio_data.tar.gz
/venv
/build
/dist
/db
/log
#/config
*.xml
*.pyc
*.egg*
./__pycache__
.coverage

