mediaPath = ./
applicationPath = /home/igor/MyMediaLib 
radioNodePath = ./RADIO
imageNodePath = ./images
preprocessAlb4libPath = C:\temp\SharedPreprCD4Lib\

#Line below is case sensetive!
mpdMusicPathPrefix = NAS/GoflexHomeUSB/My Passport/MUSIC/
mpd_host_list = moode-aoide:6600; runeaudio:6600; moode-usb:6600; moode-dac2:6600; moode-dac-kuche:6600; localhost: 6600
dbPath = medialib.db3

#Line below is case sensetive!
audio_files_path_list = //GOFLEX_HOME/ExternalUSB/My Passport//MUSIC/ORIGINAL_MUSIC;//GOFLEX_HOME/ExternalUSB/My Passport//MUSIC/MP3_COLLECTION

#Line below is case sensetive!
audioFilesPathRoot = //GOFLEX_HOME/ExternalUSB/My Passport/MUSIC/
lossless_path = G:\MUSIC\ORIGINAL_MUSIC
ml_folder_tree_buf_path = resBuf_ml_folder_tree.dat
#audio_files_path_list = G:\MUSIC\ORIGINAL_MUSIC; C:\MUSIC\ORIGINAL_MUSIC; G:\MUSIC\MP3_COLLECTION; C:\MUSIC\MP3_COLLECTION;
winampext = m3u8
templatesPath = ./templates/templates.cfg
commandRouting = ./templates/command_routing.rtg
logPath = spam.log
player_cntrl_port = 9000
appl_cntrl_port = 9001
