mediaPath = ./
applicationPath = /home/medialib/MediaLibManager/ 
radioNodePath = ./RADIO
imageNodePath = ./images
preprocessAlb4libPath = C:\temp\SharedPreprCD4Lib\
#Line below is case sensetive!
mpdMusicPathPrefix = NAS/GoflexHomeUSB/My Passport/MUSIC/
mpd_host_list = 192.168.1.76:6600; moode-aoide.local:6600; moode-usb.local:6600; moode-dac2.local:6600; moode-dac-kuche.local:6600; localhost:6600
dbPath = ./db/medialib.db3
#Line below is case sensetive!
audio_files_path_list = /mnt/GoflexHome/My Passport/MUSIC/ORIGINAL_MUSIC;/mnt/GoflexHome/My Passport/MUSIC/MP3_COLLECTION
#Line below is case sensetive!
audioFilesPathRoot = /mnt/GoflexHome/My Passport/MUSIC
lossless_path = G:\MUSIC\ORIGINAL_MUSIC
ml_folder_tree_buf_path = ./db/resBuf_ml_folder_tree.dat
winampext = m3u8
templatesPath = ./templates/templates.cfg
commandRouting = ./templates/command_routing.rtg
logPath = ./log/spam.log
player_cntrl_port = 9000
appl_cntrl_port = 9001
